* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
a:hover {
    color: aqua;
    text-decoration: underline;
}
.clearfix: before,
.clearfix: after {
    content: "";
    display: table
}
.clearfix: after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.header {
    height: 42px;
    margin-top: 26px;
}
.logo {
    float: left;
    width: 229px;
}
.nav {
    float: left;
    width: 276px;
    height: 42px;
}
.nav ul li {
    float: left;
    padding: 10px 20px; 
}
.search {
    float: left;
    width: 412px;
    height: 40px;
    margin-left: 90px;
}
.search input {
    float: left;
    width: 360px;
    height: 40px;
    border-color: #00a4ff;
    border-right: none;
}
.search button {
    float: left;
    border: none;
}
.mingzi img {
    float: left;
    padding-left:30px;
    padding-top: 5px;
}
.mingzi span {
    padding-top: 9px;
    float: left;
}
.zhong {
    margin-top: 20px;
    height: 421px;
    background-color: #1c036c;
    
}
.zhong  {
    height: 421px;
    background: url(image/banner2.jpg) no-repeat top ;
}
.mulu {
    float: left;
    height: 424px;
    width: 192px; 
    background: rgba(0,0,0,0.3);
}
.mulu  ul li  {
    padding-left: 21px;
    padding-top: 22px;

}

.mulu ul li span {
    float: right;
    padding-right: 20px;

}
.ke {
    float: right;
    width: 230px;
    height: 302px;
    padding-top: 50px;
}
.biao {
    height: 49px;
    color: aliceblue;
    line-height: 49px;
    text-align: center;
    background-color: #9bceea;
}
.wode {
    height: 252px;
    padding:0 20px;
    background-color: #ffffff;
}
.wode ul li {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #efefef;
}
.wode ul li a {
    font-size: 16px;
    color: 4e4e4e;
}
.wode ul li p {
    font-size: 12px;
    color: a5a5a5;
}
.wode .ge {
    display: inline-block;
    width: 180px;
    height: 30px;
    border: 1px solid #00a4ff;
    padding-top: 8px;
    
    text-align: center;
}
 .bian {
    display: inline-block;
    margin-left: 87px;
    height: 68px;
    background-color: #fff;
    box-shadow: 0 4px 3px 3px rgba(0, 0, 0, 0.2);
}
.bian h3  {
    float: left;
    padding: 20px 35px;
    border-right: 1px solid #bfbfbf;


}
.bian li {
    float: left;
    padding: 20px 35px;
    border-right: 1px solid #bfbfbf;
}
.bian a {
    float: right;
    padding: 25px 27px;
}
.xiaozi {
    margin-top: 36px;
    margin-left: 87px;
    float: left;
    height: 42px;
    
}
.xiaozi .zuobian {
    float: left;
    font-size: 20px;
    color: #303d4b;
}
.xiaozi .youbian {
    float: right;
    font-size: 12px;
    padding-right: 32px;
    color: #a5a5a5;
}
.neirong {
    float: left;
    margin-left: 87px;
    height: 271px;
    
}
.neirong .diyi {
    float: left;
    width: 229px;
    height: 100%;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.2);
    margin-right: 9px;
    
}
.neirong .diyi p {
    padding: 20px 19px 19px 24px;
}
.neirong .diyi .guankan {
    float: left;
    font-size: 12px;
    color: #999999;
    padding-left: 24px;
}
.neirong .buyao {
    float: left;
    width: 229px;
    height: 100%;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.2);
    margin-right: none;
}
.neirong .buyao .yiyi {
    float: left;
    font-size: 12px;
    color: #999999;
    padding-left: 24px;
}.neirong .buyao p {
    padding: 20px 19px 19px 24px;
}
.footer {
    float: left;
    height: 415px;
    margin-top: 36px;
    margin-left: 87px;
    background-color: #ffffff;
    
}

.footer .jieshu dl {
    float: right;  
    width: 135px;
    padding-left: 50px;    
}
.footer .jieshu dl dt {
    padding-bottom: 15px;
}
.footer .jieshu dl dd a{
    border: none;
    font-size: 12px;
    padding-bottom: 8px;
}
.footer ul li {
    
    padding: 27px 0 18px 0;
    font-size: 12px;
    color: #666666;
}
.footer .zuihou a {
    float: left;
    width: 116px;
    height: 35px;
    padding-top: 12px;
    text-align: center;
    border: 1px solid #00a4ff;
}
